<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzzl.lemall.mapper.GoodDataMapper">
    <resultMap id="goodDataMap" type="com.zzzl.lemall.domain.GoodData">
        <id column="good_data_id" jdbcType="INTEGER" property="goodDataId"></id>
        <result column="good_data_img" jdbcType="VARCHAR" property="goodDataImg"></result>
        <result column="good_data_scale" jdbcType="TEXT" property="goodDataScale" ></result>
        <result column="good_id" jdbcType="INTEGER"  property="goodId"></result>
    </resultMap>
</mapper>