<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzzl.lemall.mapper.OrderitemMapper">
  <resultMap id="BaseResultMap" type="com.zzzl.lemall.domain.Orderitem">
    <id column="orderitem_id" jdbcType="INTEGER" property="orderitemId" />
    <result column="orders_id" jdbcType="INTEGER" property="ordersId" />
    <result column="good_id" jdbcType="INTEGER" property="goodId" />
    <result column="orderitem_number" jdbcType="INTEGER" property="orderitemNumber" />
  </resultMap>
  <insert id="batchInsertOrderitems" useGeneratedKeys="true" keyColumn="orderitem_id" keyProperty="orderitemId" parameterType="Orderitem">
    insert into orderitem (orderitem_id,orders_id,good_id,orderitem_number) values
    <foreach collection="list" item="item" separator=",">
      (null,#{item.ordersId},#{item.goodId},#{item.orderitemNumber})
    </foreach>
  </insert>
</mapper>